{% extends 'layouts/mail.html' %}
{% load i18n %}

{% block content %}
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <p>{% trans "Hi there," %}</p>
                <p>{% trans "Someone requested a new password for your kraven account." %}</p>
                <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                    <tbody>
                        <tr>
                            <td align="left">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td><a href="{{ app_url }}{% url 'app.web.reset_password' token %}" target="_blank">{% trans "Reset Your Password" %}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>{% trans "If you didn't make this request then you can safely ignore this email :)" %}</p>
                <p>{% trans "Thanks," %}<br/>{{ app_name }} {% trans "Team" %}.</p>
            </td>
        </tr>
    </table>
{% endblock %}