Django==2.2.7
mysqlclient==1.4.4
python-dotenv==0.10.3
gunicorn==19.9.0
requests==2.22.0
psycopg2==2.8.4
jsonschema==3.1.1
celery==4.3.0
redis==3.3.11
cryptography==2.8
markdown2==2.3.8
twilio==6.33.0
pyumetric==0.0.4
pyvalitron==1.1.3
feedgen==0.8.0
python-dateutil==2.8.1
psycopg2-binary==2.8.4
whitenoise==4.1.4
