{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block customer_header %}
    <script type="text/javascript">
        var _list_view_i18n = {
            manage: "{% trans "Manage" %}",
            actions: "{% trans "Actions" %}",
            delete: "{% trans "Delete" %}",
            edit: "{% trans "Edit" %}",
            view: "{% trans "View" %}",
            noIncidents: "{% trans "You miss a lot of fun, create some incidents!" %}"
        }
    </script>
{% endblock %}

{% block content %}
   <div class="page-main">
        {% include 'partials/top-menu.html' %}
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row" id="incident_list" data-fetch-incidents="{% url 'app.api.private.v1.admin.incidents.endpoint' %}">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{% trans "Incidents" %}</h3>
                                <div class="card-options">
                                    <a href="{% url 'app.web.admin.incident.add' %}" class="btn btn-secondary btn-sm"><i class="fe fe-plus mr-2"></i> {% trans "New Incident" %}</a>
                                </div>
                            </div>

                            <div class="dimmer" v-bind:class="{ active: isDimmerActive }">
                                <div class="loader"></div>
                                <div class="dimmer-content">
                                    <div class="table-responsive">
                                        <table class="table card-table table-vcenter text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>{% trans "Name" %}</th>
                                                    <th>{% trans "Status" %}</th>
                                                    <th>{% trans "Created (UTC)" %}</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <template v-if="Object.keys(items).length === 0">
                                                    <tr>
                                                        <td colspan="6" class="text-center small text-muted">
                                                            <br/>
                                                            ${i18n.noIncidents}
                                                        </td>
                                                    </tr>
                                                </template>
                                                <template v-if="Object.keys(items).length > 0">
                                                    <tr v-for="item in items">
                                                        <td><a v-bind:href="item.view_url" class="text-inherit">${item.name}</a></td>
                                                        <td>${item.status}</td>
                                                        <td>${item.created_at}</td>
                                                        <td colspan="2" class="text-right">
                                                            <div class="dropdown">
                                                                <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">${i18n.actions}</button>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a v-bind:href="item.view_status_url" class="dropdown-item">
                                                                        <i class="dropdown-icon fe fe-link"></i> ${i18n.view}
                                                                    </a>
                                                                    <a v-bind:href="item.edit_url" class="dropdown-item">
                                                                        <i class="dropdown-icon fe fe-edit"></i> ${i18n.edit}
                                                                    </a>
                                                                    <a href="javascript:void(0)" v-bind:data-url="item.delete_url" class="dropdown-item" v-on:click="deleteIncidentAction">
                                                                        <i class="dropdown-icon fe fe-trash"></i> ${i18n.delete}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                        <br/>
                                    </div>
                                    <template v-if="isLoadingActive">
                                        <div class="text-center">
                                            <a href="#" class="btn btn-pill btn-secondary" v-on:click="loadIncidentsAction" v-bind:class="{ 'btn-loading': isLoadingDimmed }">Load More</a>
                                            <br/><br/>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/bottom-menu.html' %}

{% endblock %}