{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block content %}
    <div class="page-main">
        {% include 'partials/top-menu.html' %}
        <div class="my-3 my-md-5">
            <div class="container" id="app_status_builder">
                <div class="row">
                    <div class="col-12">
                        <form class="card" v-on:submit.prevent="updateSettingsAction" action="{% url 'app.api.private.v1.admin.settings.endpoint' %}" method="post">
                            {% csrf_token %}
                            <div class="card-header">
                                <h3 class="card-title">{% trans "Status Page Builder" %}</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label">{% trans "Headline" %}<span class="form-required">*</span></label>
                                            <input type="text" class="form-control" name="headline" value="">
                                            <small class="form-text text-muted">{% trans "This text will appear at the top of your page. It's set to your service name by default." %}</small>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label">{% trans "Fav icon source" %}</label>
                                            <select class="form-control" v-model="favIconSource" name="fav_icon_source" required>
                                                <option value="upload">{% trans "Upload" %}</option>
                                                <option value="url">{% trans "URL" %}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <template v-if="favIconSource === 'url'">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="form-label">{% trans "Fav icon URL" %}</label>
                                                <input type="url" class="form-control" name="fav_icon_url" value="">
                                            </div>
                                        </div>
                                    </template>
                                    <template v-if="favIconSource === 'upload'">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="form-label">{% trans "Fav icon" %}</label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" name="fav_icon_file">
                                                    <label class="custom-file-label">{% trans "Choose image" %}</label>
                                                </div>
                                                <small class="form-text text-muted">{% trans "Suggested size " %} <code>96x96</code></small>
                                            </div>
                                        </div>
                                    </template>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label">{% trans "Cover image source" %}</label>
                                            <select class="form-control" v-model="coverImageSource" name="cover_image_source" required>
                                                <option value="upload">{% trans "Upload" %}</option>
                                                <option value="url">{% trans "URL" %}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <template v-if="coverImageSource === 'url'">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="form-label">{% trans "Cover image URL" %}</label>
                                                <input type="url" class="form-control" name="fav_icon_url" value="">
                                            </div>
                                        </div>
                                    </template>
                                    <template v-if="coverImageSource === 'upload'">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="form-label">{% trans "Cover image" %}</label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" name="cover_image_file">
                                                    <label class="custom-file-label">{% trans "Choose image" %}</label>
                                                </div>
                                                <small class="form-text text-muted">{% trans "Suggested size " %} <code>850x315 or 1700x630</code></small>
                                            </div>
                                        </div>
                                    </template>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label">{% trans "About" %}</label>
                                            <textarea class="form-control" name="about" rows="5"></textarea>
                                            <small class="form-text text-muted">{% trans "This text is placed at the top of the status page for your visitors." %}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <div class="d-flex">
                                    <button type="submit" class="btn btn-pill btn-secondary ml-auto" v-bind:class="{ 'btn-loading': isInProgress }" v-bind:disabled="isInProgress">{% trans "Submit" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="dimmer">
                                <div class="loader"></div>
                                <div class="dimmer-content">
                                    <div class="table-responsive">
                                        <table class="table card-table table-vcenter text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>{% trans "Component / Component Group" %}</th>
                                                    <th class="text-center">{% trans "Actions" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <select name="component" class="custom-select" disabled>
                                                            <option value="">{% trans "Please select a component or a group" %}</option>
                                                            {% for group in groups %}
                                                                <option value="g-{{ group.id }}">{{ group.name }}</option>
                                                            {% endfor %}
                                                            {% for component in components %}
                                                                <option value="g-{{ component.id }}">{{ component.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <a href="javascript:void(0)" href="javascript:void(0)" data-url="" class="icon" v-on:click=""><i class="fe fe-x-square"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select name="component" class="custom-select">
                                                            <option value="">{% trans "Please select a component" %}</option>
                                                            {% for group in groups %}
                                                                <option value="g-{{ group.id }}">{{ group.name }}</option>
                                                            {% endfor %}
                                                            {% for component in components %}
                                                                <option value="g-{{ component.id }}">{{ component.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <a href="javascript:void(0)" data-url="" v-on:click="" class="icon" data-reload-after="1000"><i class="fe fe-plus-square"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="dimmer">
                                <div class="loader"></div>
                                <div class="dimmer-content">
                                    <div class="table-responsive">
                                        <table class="table card-table table-vcenter text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>{% trans "System Metrics" %}</th>
                                                    <th class="text-center">{% trans "Actions" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <select name="component" class="custom-select" disabled>
                                                            <option value="">{% trans "Please select a component" %}</option>
                                                            <option value="1" selected>API</option>
                                                        </select>
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <a href="javascript:void(0)" href="javascript:void(0)" data-url="" class="icon" v-on:click=""><i class="fe fe-x-square"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select name="component" class="custom-select">
                                                            <option value="">{% trans "Please select a metric" %}</option>
                                                            {% for metric in metrics %}
                                                                <option value="{{ metric.id }}">{{ metric.title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <a href="javascript:void(0)" data-url="" v-on:click="" class="icon" data-reload-after="1000"><i class="fe fe-plus-square"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/bottom-menu.html' %}

{% endblock %}