{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="page-main">
        {% include 'partials/top-menu.html' %}
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">
                        {% trans "Dashboard" %}
                    </h1>
                </div>
                <div class="row row-cards">
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <br/>
                                <div class="h1 m-0">43</div>
                                <div class="text-muted mb-4">Incidents</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <br/>
                                <div class="h1 m-0">17</div>
                                <div class="text-muted mb-4">Subscribers</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <br/>
                                <div class="h1 m-0">7</div>
                                <div class="text-muted mb-4">Components</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <br/>
                                <div class="h1 m-0">27</div>
                                <div class="text-muted mb-4">Component Groups</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <br/>
                                <div class="h1 m-0">95</div>
                                <div class="text-muted mb-4">Metrics</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <br/>
                                <div class="h1 m-0">61</div>
                                <div class="text-muted mb-4">Users</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Subscribers</h3>
                            </div>
                            <div id="chart-subscribers-activity" style="height: 10rem"></div>
                        </div>
                        <script>
                            require(['c3', 'jquery'], function(c3, $) {
                                $(document).ready(function(){
                                    var chart = c3.generate({
                                        bindto: '#chart-subscribers-activity', // id of chart wrapper
                                        data: {
                                            columns: [
                                                // each columns data
                                                ['data1', 0, 5, 1, 2, 7, 5, 6, 8, 24, 7, 12, 5, 6, 3, 2, 2, 6, 30, 10, 10, 15, 14, 47, 65, 55]
                                            ],
                                            type: 'area', // default type of chart
                                            groups: [
                                                [ 'data1', 'data2', 'data3']
                                            ],
                                            colors: {
                                                'data1': tabler.colors["green"]
                                            },
                                            names: {
                                                // name of each serie
                                                'data1': 'Subscribers'
                                            }
                                        },
                                        axis: {
                                            y: {
                                                padding: {
                                                    bottom: 0,
                                                },
                                                show: false,
                                                    tick: {
                                                    outer: false
                                                }
                                            },
                                            x: {
                                                padding: {
                                                    left: 0,
                                                    right: 0
                                                },
                                                show: false
                                            }
                                        },
                                        legend: {
                                            position: 'inset',
                                            padding: 0,
                                            inset: {
                                                  anchor: 'top-left',
                                                x: 20,
                                                y: 8,
                                                step: 10
                                            }
                                        },
                                        tooltip: {
                                            format: {
                                                title: function (x) {
                                                    return '';
                                                }
                                            }
                                        },
                                        padding: {
                                            bottom: 0,
                                            left: -1,
                                            right: -1
                                        },
                                        point: {
                                            show: false
                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Affected Components</h3>
                            </div>
                            <div id="chart-development-activity" style="height: 10rem"></div>
                            <div class="table-responsive">
                                <table class="table card-table table-striped table-vcenter">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Component</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="2">Cloud API</td>
                                            <td>Major Outage</td>
                                            <td class="w-1"><a href="#" class="icon"><i class="fe fe-link"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <script>
                            require(['c3', 'jquery'], function(c3, $) {
                                $(document).ready(function(){
                                    var chart = c3.generate({
                                        bindto: '#chart-development-activity', // id of chart wrapper
                                        data: {
                                            columns: [
                                                // each columns data
                                                ['data1', 0, 5, 1, 2, 7, 5, 6, 8, 24, 7, 12, 5, 6, 3, 2, 2, 6, 30, 10, 10, 15, 14, 47, 65, 55]
                                            ],
                                            type: 'area', // default type of chart
                                            groups: [
                                                [ 'data1', 'data2', 'data3']
                                            ],
                                            colors: {
                                                'data1': tabler.colors["red"]
                                            },
                                            names: {
                                                // name of each serie
                                                'data1': 'Affected Components'
                                            }
                                        },
                                        axis: {
                                            y: {
                                                padding: {
                                                    bottom: 0,
                                                },
                                                show: false,
                                                    tick: {
                                                    outer: false
                                                }
                                            },
                                            x: {
                                                padding: {
                                                    left: 0,
                                                    right: 0
                                                },
                                                show: false
                                            }
                                        },
                                        legend: {
                                            position: 'inset',
                                            padding: 0,
                                            inset: {
                                                  anchor: 'top-left',
                                                x: 20,
                                                y: 8,
                                                step: 10
                                            }
                                        },
                                        tooltip: {
                                            format: {
                                                title: function (x) {
                                                    return '';
                                                }
                                            }
                                        },
                                        padding: {
                                            bottom: 0,
                                            left: -1,
                                            right: -1
                                        },
                                        point: {
                                            show: false
                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Notifications</h3>
                                    </div>
                                    <div id="chart-notifications-activity" style="height: 10rem"></div>
                                </div>
                                <script>
                                    require(['c3', 'jquery'], function(c3, $) {
                                        $(document).ready(function(){
                                            var chart = c3.generate({
                                                bindto: '#chart-notifications-activity', // id of chart wrapper
                                                data: {
                                                    columns: [
                                                        // each columns data
                                                        ['data1', 0, 5, 1, 2, 7, 5, 6, 8, 24, 7, 12, 5, 6, 3, 2, 2, 6, 30, 10, 10, 15, 14, 47, 65, 55],
                                                        ['data2', 0, 1, 0, 1, 3, 2, 3, 2, 1, 6, 3, 3, 2, 3, 0, 0, 0, 0, 0, 0, 5, 4, 7, 5, 5]
                                                    ],
                                                    type: 'area', // default type of chart
                                                    groups: [
                                                        [ 'data1', 'data2']
                                                    ],
                                                    colors: {
                                                        'data1': tabler.colors["green"],
                                                        'data2': tabler.colors["red"]
                                                    },
                                                    names: {
                                                        // name of each serie
                                                        'data1': 'Deliverd',
                                                        'data2': 'Failed'
                                                    }
                                                },
                                                axis: {
                                                    y: {
                                                        padding: {
                                                            bottom: 0,
                                                        },
                                                        show: false,
                                                            tick: {
                                                            outer: false
                                                        }
                                                    },
                                                    x: {
                                                        padding: {
                                                            left: 0,
                                                            right: 0
                                                        },
                                                        show: false
                                                    }
                                                },
                                                legend: {
                                                    position: 'inset',
                                                    padding: 0,
                                                    inset: {
                                                          anchor: 'top-left',
                                                        x: 20,
                                                        y: 8,
                                                        step: 10
                                                    }
                                                },
                                                tooltip: {
                                                    format: {
                                                        title: function (x) {
                                                            return '';
                                                        }
                                                    }
                                                },
                                                padding: {
                                                    bottom: 0,
                                                    left: -1,
                                                    right: -1
                                                },
                                                point: {
                                                    show: false
                                                }
                                            });
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card p-3">
                                    <div class="d-flex align-items-center">
                                        <span class="stamp stamp-md bg-green mr-3">
                                            <i class="fe fe-send"></i>
                                        </span>
                                        <div>
                                            <h4 class="m-0">78 <small>Total Sent</small></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card p-3">
                                    <div class="d-flex align-items-center">
                                        <span class="stamp stamp-md bg-red mr-3">
                                            <i class="fe fe-x"></i>
                                        </span>
                                        <div>
                                            <h4 class="m-0">78 <small>Total Failed</small></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Incidents</h3>
                            </div>
                            <div id="chart-incidents-activity" style="height: 10rem"></div>
                        </div>
                        <script>
                            require(['c3', 'jquery'], function(c3, $) {
                                $(document).ready(function(){
                                    var chart = c3.generate({
                                        bindto: '#chart-incidents-activity', // id of chart wrapper
                                        data: {
                                            columns: [
                                                // each columns data
                                                ['data1', 0, 5, 1, 2, 7, 5, 6, 8, 24, 7, 12, 5, 6, 3, 2, 2, 6, 30, 10, 10, 15, 14, 47, 65, 55]
                                            ],
                                            type: 'area', // default type of chart
                                            groups: [
                                                [ 'data1']
                                            ],
                                            colors: {
                                                'data1': tabler.colors["red"]
                                            },
                                            names: {
                                                // name of each serie
                                                'data1': 'Incidents'
                                            }
                                        },
                                        axis: {
                                            y: {
                                                padding: {
                                                    bottom: 0,
                                                },
                                                show: false,
                                                    tick: {
                                                    outer: false
                                                }
                                            },
                                            x: {
                                                padding: {
                                                    left: 0,
                                                    right: 0
                                                },
                                                show: false
                                            }
                                        },
                                        legend: {
                                            position: 'inset',
                                            padding: 0,
                                            inset: {
                                                  anchor: 'top-left',
                                                x: 20,
                                                y: 8,
                                                step: 10
                                            }
                                        },
                                        tooltip: {
                                            format: {
                                                title: function (x) {
                                                    return '';
                                                }
                                            }
                                        },
                                        padding: {
                                            bottom: 0,
                                            left: -1,
                                            right: -1
                                        },
                                        point: {
                                            show: false
                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Open Incidents</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table card-table table-vcenter text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>{% trans "Name" %}</th>
                                            <th>{% trans "Status" %}</th>
                                            <th>{% trans "Created" %}</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="5" class="text-center small text-muted">
                                                <br/>
                                                {% trans "Nice! No open incidents." %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br/><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% include 'partials/bottom-menu.html' %}

{% endblock %}