{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block customer_header %}
    <script type="text/javascript">
        var _list_view_i18n = {
            noNotifications: "{% trans "No notifications yet!" %}"
        }
    </script>
{% endblock %}


{% block content %}
   <div class="page-main">
        {% include 'partials/top-menu.html' %}
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row" id="notification_list" data-fetch-notifications="{% url 'app.api.private.v1.admin.notifications.endpoint' %}">
                    <div class="col-12">
                        <div class="card">
                            <div class="dimmer" v-bind:class="{ active: isDimmerActive }">
                                <div class="loader"></div>
                                <div class="dimmer-content">
                                    <div class="table-responsive">
                                        <table class="table card-table table-vcenter text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th colspan="1">{% trans "Status" %}</th>
                                                    <th colspan="4">{% trans "Notification" %}</th>
                                                    <th colspan="1">{% trans "Created" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <template v-if="Object.keys(items).length === 0">
                                                    <tr>
                                                        <td colspan="6" class="text-center small text-muted">
                                                            <br/>
                                                            ${i18n.noNotifications}
                                                        </td>
                                                    </tr>
                                                </template>
                                                <template v-if="Object.keys(items).length > 0">
                                                    <tr v-for="item in items">
                                                        <td colspan="1">
                                                            <span class="avatar mr-3 align-self-center" v-bind:class="{'avatar-yellow': item.type == 'pending', 'btn-loading': item.type == 'pending', 'avatar-orange': item.type == 'failed','avatar-green': item.type == 'passed','avatar-red': item.type == 'error','avatar-blue': item.type == 'message'}"><i class="fe" v-bind:class="{ 'fe-loader': item.type == 'pending', 'fe-x': item.type == 'failed', 'fe-check': item.type == 'passed', 'fe-alert-circle': item.type == 'error', 'fe-message-circle': item.type == 'message' }"></i></span>
                                                        </td>
                                                        <td colspan="4"><strong>${item.highlight}</strong> ${item.description}</td>
                                                        <td colspan="1">${item.created_at}</td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                        <br/>
                                    </div>
                                    <template v-if="isLoadingActive">
                                        <div class="text-center">
                                            <a href="#" class="btn btn-pill btn-secondary" v-on:click="loadNotificationsAction" v-bind:class="{ 'btn-loading': isLoadingDimmed }">Load More</a>
                                            <br/><br/>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/bottom-menu.html' %}

{% endblock %}