{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="page-main">
        {% include 'partials/top-menu.html' %}
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row" id="user_add_app">
                    <div class="col-12">
                        <form class="card" v-on:submit.prevent="addUserAction" action="{% url 'app.api.private.v1.admin.users.endpoint' %}" method="post" data-redirect-url="{% url 'app.web.admin.user.list' %}" data-redirect-after="3000">
                            {% csrf_token %}
                            <div class="card-header">
                                <h3 class="card-title">{% trans "Add a New User" %}</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label">{% trans "Email address" %}<span class="form-required">*</span></label>
                                            <input type="email" name="email" class="form-control" placeholder="{% trans "Enter email" %}" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">{% trans "Role" %}<span class="form-required">*</span></label>
                                            <select class="form-control" name="role" required>
                                                <option value="">{% trans "Please Select a Role" %}</option>
                                                <option value="admin">{% trans "Admin" %}</option>
                                                <option value="user">{% trans "User" %}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="invitation" value="1" v-model="disableInvitation">
                                                <span class="custom-control-label">{% trans "Disable Invitation" %}</span>
                                            </label>
                                        </div>
                                        <template v-if="disableInvitation">
                                            <div class="form-group">
                                                <label class="form-label">{% trans "First Name" %}<span class="form-required">*</span></label>
                                                <input type="text" name="first_name" class="form-control" placeholder="{% trans "Enter first name" %}" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">{% trans "Last Name" %}<span class="form-required">*</span></label>
                                                <input type="text" name="last_name" class="form-control" placeholder="{% trans "Enter last name" %}" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">{% trans "Username" %}<span class="form-required">*</span></label>
                                                <input type="text" name="username" class="form-control" placeholder="{% trans "Enter username" %}" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">{% trans "Password" %}<span class="form-required">*</span></label>
                                                <input type="password" name="password" class="form-control" placeholder="{% trans "Password" %}" required>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <div class="d-flex">
                                    <button type="submit" class="btn btn-pill btn-secondary ml-auto" v-bind:class="{ 'btn-loading': isInProgress }" v-bind:disabled="isInProgress">{% trans "Save" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/bottom-menu.html' %}

{% endblock %}