{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="page-content">
        <div class="container text-center">
            <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> {% trans "404" %}</div>
            <h1 class="h2 mb-3">{% trans "Page Not Found" %}</h1>
            <p class="h4 text-muted font-weight-normal mb-7">{% trans "Sorry, but the page you are looking for not found!" %}</p>
            <a class="btn btn-primary" href="javascript:history.back()">
                <i class="fe fe-arrow-left mr-2"></i> {% trans "Go back" %}
            </a>
        </div>
    </div>
{% endblock %}