{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="page-single">
        <div class="container">
            <div class="row" id="app_forgot_password">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <a href="/">
                            <img src="{% static 'assets/images/logo.png' %}" class="h-9">
                        </a>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <form class="card" v-on:submit.prevent="forgotPasswordAction" action="{% url 'app.api.private.v1.forgot_password.endpoint' %}" method="post" data-redirect-url="{% url 'app.web.login' %}" data-redirect-after="3000">
                        {% csrf_token %}
                        <div class="card-body p-6">
                            <div class="card-title">{% trans "Forgot password" %}</div>
                            <p class="text-muted">{% trans "Enter your email address and a link to reset your password will be emailed to you." %}</p>
                            <div class="form-group">
                                <label class="form-label">{% trans "Email address" %}</label>
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <i class="fe fe-user"></i>
                                    </span>
                                    <input name="email" type="email" class="form-control" placeholder="{% trans "Enter email" %}" required>
                                </div>
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block" v-bind:class="{ 'btn-loading': isInProgress }" v-bind:disabled="isInProgress">{% trans "Submit" %}</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        {% trans "Know it," %} <a href="{% url 'app.web.login' %}">{% trans "send me back" %}</a> {% trans "to the login page." %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}