{% extends 'layouts/home.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
	<div class="page-main">
	    <div class="my-3 my-md-5">
	        <div class="container" style="width: 50%;">
	            <div class="row">
	                <div class="col-sm-6 col-lg-6">
	                    <a href="#">
	                        <img src="{% static 'assets/images/logo.png' %}" alt="{{ app_name }}">
	                    </a>
	                </div>
	                <div class="col-sm-6 col-lg-6 text-right" style="margin-top: 40px">
	                    <a href="#" class="btn btn-primary">Subscribe to Updates</a>
	                </div>
	            </div>
	            <br/>
	            <br/>
	            <div class="row">
	                <div class="col-sm-12 col-lg-12">
	                    <div class="alert alert-icon alert-success" role="alert" style="width: 100%;">
	                        <i class="fe fe-check mr-2" aria-hidden="true"></i> All Systems Operational
	                    </div>
						<div class="alert alert-warning" role="alert" style="width: 100%;">
						  	<i class="fe fe-bell mr-2" aria-hidden="true"></i> Some services are experiencing interruptions
						</div>
						<div class="alert alert-danger" role="alert" style="width: 100%;">
						  	<i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i>Many services are experiencing interruptions
						</div>
	                </div>
	            </div>
	            <br/>
	            <div class="row">
	                <div class="col-sm-12 col-lg-12">
	                    <div class="card">
	                        <div class="card-body">
	                        	<h4>About This Site</h4><br/>
								This is silverback's status page, where you can get updates on how our systems are doing. If there are interruptions to service, we will post a note here.
								As always, if you are experiencing any issues with silverback, don't hesitate to get in touch with us at team@silverbackhq.org and we'll get back to you as soon as we can.
	                       	</div>
	                    </div>
	                </div>
	            </div>
	            <br/>
	            <div class="row">
	                <div class="col-sm-12 col-lg-12">
	                    <div class="card">
	                        <table class="table card-table">
	                            <tr>
	                                <td>Website - Frontend and User App (HTTPS)</td>
	                                <td class="text-right"><span class="text-muted"><span class="status-icon bg-success"></span></span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>SMS & MMS REST API (HTTPS)</td>
	                                <td class="text-right"><span class="text-muted"><span class="status-icon bg-red"></span></span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>Cloud API (HTTPS)</td>
	                                <td class="text-right"><span class="text-muted"><span class="status-icon bg-warning"></span></span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>SMPP Server 01</td>
	                                <td class="text-right"><span class="text-muted"><span class="status-icon bg-success"></span></span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>SMPP Server 02</td>
	                                <td class="text-right"><span class="text-muted"><span class="status-icon bg-success"></span></span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>SMPP Server 03</td>
	                                <td class="text-right"><span class="text-muted"><span class="status-icon bg-success"></span></span>
	                                </td>
	                            </tr>
	                        </table>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-12 col-lg-12">
	                    <div class="card">
	                        <div class="card-header">
	                            <h3 class="card-title">System Metrics</h3>

	                            <div class="card-options">
	                                <a href="#" class="btn btn-secondary btn-sm ml-2">Day</a>
	                                <a href="#" class="btn btn-secondary btn-sm ml-2">Week</a>
	                                <a href="#" class="btn btn-secondary btn-sm ml-2">Month</a>
	                            </div>

	                        </div>

	                        <div class="card-body">
	                            <div id="container" style="height: 16rem"></div>
	                        </div>
	                    </div>
	                    <script>
							Highcharts.chart('container', {
							    chart: {
						        	type: 'spline'
						    	},
							    title: {
							        text: 'Website Dashboard - Average response time'
							    },
							    xAxis: {
							        type: 'datetime',
							        dateTimeLabelFormats: { // don't display the dummy year
							            month: '%e. %b',
							            year: '%b'
							        },
							        title: {
							            text: 'Date'
							        }
							    },
							    yAxis: {
							        title: {
							            text: 'Time (m)'
							        },
							        min: 0
							    },
							    plotOptions: {
							        spline: {
							            marker: {
							                enabled: true
							            }
							        }
							    },
							    series: [{
							        name: 'Date',
							        data: [
							            [Date.UTC(2019, 3, 10, 1, 1), 0.25],
							            [Date.UTC(2019, 3, 10, 1, 2), 0.26],
							            [Date.UTC(2019, 3, 10, 1, 3), 0.27],
							            [Date.UTC(2019, 3, 10, 1, 4), 0.28],
							            [Date.UTC(2019, 3, 10, 1, 5), 0.29],
							            [Date.UTC(2019, 3, 10, 1, 6), 0.20],
							            [Date.UTC(2019, 3, 10, 1, 7), 0.30],
							            [Date.UTC(2019, 3, 10, 1, 8), 0.25],
							            [Date.UTC(2019, 3, 10, 1, 9), 0.25],
							            [Date.UTC(2019, 3, 10, 1, 10), 1],
							            [Date.UTC(2019, 3, 10, 1, 11), 1.2],
							            [Date.UTC(2019, 3, 10, 1, 12), 1.02],
							            [Date.UTC(2019, 3, 10, 1, 13), 1.3],
							            [Date.UTC(2019, 3, 10, 1, 14), 1],
							            [Date.UTC(2019, 3, 10, 1, 15), 1.09],
							            [Date.UTC(2019, 3, 10, 1, 16), 1.08],
							            [Date.UTC(2019, 3, 10, 1, 17), 1.5],
							            [Date.UTC(2019, 3, 10, 1, 18), 1.08],
							            [Date.UTC(2019, 3, 10, 1, 19), 1.05],
							            [Date.UTC(2019, 3, 10, 1, 20), 0.8],
							            [Date.UTC(2019, 3, 10, 1, 21), 0.40],
							            [Date.UTC(2019, 3, 10, 1, 22), 0.50],
							            [Date.UTC(2019, 3, 10, 1, 23), 0.77],
							            [Date.UTC(2019, 3, 10, 1, 24), 0.9],
							            [Date.UTC(2019, 3, 10, 1, 25), 0.44],
							            [Date.UTC(2019, 3, 10, 1, 26), 0.34],
							            [Date.UTC(2019, 3, 10, 1, 27), 0.23],
							            [Date.UTC(2019, 3, 10, 1, 28), 0.45],
							            [Date.UTC(2019, 3, 10, 1, 29), 0.33],
							            [Date.UTC(2019, 3, 10, 1, 30), 0.22],
							            [Date.UTC(2019, 3, 10, 1, 31), 0.98],
							            [Date.UTC(2019, 3, 10, 1, 32), 0.8],
							            [Date.UTC(2019, 3, 10, 1, 33), 0.53],
							            [Date.UTC(2019, 3, 10, 1, 34), 0.34],
							            [Date.UTC(2019, 3, 10, 1, 35), 0.32],
							            [Date.UTC(2019, 3, 10, 1, 36), 0.344],
							        ]
							    }],
							    responsive: {
							        rules: [{
							            condition: {
							                maxWidth: 500
							            }
							        }]
							    }
							});
	                    </script>
	                </div>
	            </div>
	            <br/>
	            <div class="row">
	                <div class="col-sm-12 col-lg-12">
	                    <div class="card">
	                        <div class="card-header">
	                            <h3 class="card-title">Past Incidents</h3>
	                            <div class="card-options">
	                                <a href="#" class="btn btn-secondary btn-sm ml-2">Day</a>
	                                <a href="#" class="btn btn-secondary btn-sm ml-2">Week</a>
	                                <a href="#" class="btn btn-secondary btn-sm ml-2">Month</a>
	                            </div>
	                        </div>
	                        <div class="card-body">

	                            <div style="margin-bottom: 20px">
	                                <h4>March 8, 2019</h4>
	                                <p><span class="text-muted">No incidents reported.</span></p>
	                            </div>

	                            <div style="margin-bottom: 20px">
	                                <h4>March 7, 2019</h4>
	                                <a href=""><strong>Partial network outage at one of our network suppliers</strong></a>
	                                <br/>
	                                <strong>Resolved</strong> - we had a partial network outage at one of our network suppliers. During this time we were unable to send and receive SMS to and from a small set of carriers. During this outage, SMS was either delayed or sent via an alternative route.
	                                <br/>
	                                <small>March 7, 08:56 CET</small>
	                                <br/>

	                                <strong>Update</strong> - we had a partial network outage at one of our network suppliers. During this time we were unable to send and receive SMS to and from a small set of carriers. During this outage, SMS was either delayed or sent via an alternative route.
	                                <br/>
	                                <small>March 7, 08:56 CET</small>
	                            </div>

	                            <div style="margin-bottom: 20px">
	                                <h4>March 6, 2019</h4>
	                                <p><span class="text-muted">No incidents reported.</span></p>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="row">
	                <div class="col-sm-12 col-lg-12">
	                    <div class="card">
	                        <div class="card-header">
	                            <h3 class="card-title">Incident History</h3>
	                        </div>
	                        <div class="card-body">
	                            <div style="margin-bottom: 20px">
	                                <h4>March 2019</h4>
	                                <p><span class="text-muted">No incidents reported for this month.</span></p>
	                            </div>

	                            <div style="margin-bottom: 20px">
	                                <h4>February, 2019</h4>
	                                <a href="">
	                                	<strong>Partial network outage at one of our network suppliers</strong>
	                                </a><br/>
	                                This incident has been resolved.
	                                <br/>
	                                <small>March 7, 08:56 CET - March 8, 2:56 CET</small>
	                            </div>

	                            <div style="margin-bottom: 20px">
	                                <h4>March 6, 2019</h4>
	                                <p><span class="text-muted">No incidents reported.</span></p>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="row">
	                <div class="col-sm-6 col-lg-6 text-left">
	                    <a href="">
	                        <span style="font-family:arial">←</span> {% trans "Incident History" %}
	                    </a>
	                </div>
	                <div class="col-sm-6 col-lg-6 text-right">
	                	<a href="https://github.com/silverbackhq/silverback" target="__blank">
	                    	<span class="text-muted">{% trans "Powered by Silverback" %}</span>
	                    </a>
	                </div>
	            </div>
	            <br/>
	        </div>
	    </div>
	</div>

{% endblock %}