{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="page-single">
        <div class="container">
            <div class="row" id="app_reset_password">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                    	<a href="/">
                        	<img src="{% static 'assets/images/logo.png' %}" class="h-9">
                    	</a>
                    </div>
                    <form class="card" v-on:submit.prevent="resetPasswordAction" action="{% url 'app.api.private.v1.reset_password.endpoint' %}" method="post" data-redirect-url="{% url 'app.web.login' %}" data-redirect-after="3000">
                        {% csrf_token %}
                        <input type="hidden" name="reset_token" value="{{ reset_token }}">
                        <div class="card-body p-6">
                            <div class="card-title text-center">{% trans "Reset password" %}</div>
                            <div class="form-group">
                                <label class="form-label">{% trans "New Password" %}</label>
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <i class="fe fe-eye-off"></i>
                                    </span>
                                    <input name="new_password" type="password" class="form-control" placeholder="{% trans "Enter password" %}" required>
                                </div>
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block" v-bind:class="{ 'btn-loading': isInProgress }" v-bind:disabled="isInProgress">{% trans "Submit" %}</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        {% trans "Cool," %} <a href="{% url 'app.web.login' %}">{% trans "send me back" %}</a> {% trans "to the login page." %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}