{% extends 'layouts/base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="page-main">
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <a href="#">
                            <img src="{% static 'assets/images/logo.png' %}" alt="{{ app_name }}" style="width: 25%">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-6 text-right" style="margin-top: 40px">
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#subscribeModal">
                            {% trans "Subscribe to Updates" %}
                        </a>
                    </div>
                    <div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{% trans "Subscribe to Updates" %}</h5>
                                    <button type="button" class="close" data-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                                    <button type="button" class="btn btn-primary">{% trans "Submit" %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{% trans "Incident History" %}</h3>
                                <div class="card-options">
                                    <a href="{% url 'app.web.status_page_history' prev_link %}" class="btn btn-secondary btn-sm ml-2"><i class="fe fe-arrow-left"></i></a>
                                    <button href="#" disabled class="btn btn-secondary btn-sm ml-2">{{ history_period }}</button>
                                    {% if next_link > 1 %}
                                        <a href="{% url 'app.web.status_page_history' next_link %}" class="btn btn-secondary btn-sm ml-2"><i class="fe fe-arrow-right"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                {% for past_incident in past_incidents %}
                                    <div class="incidents">
                                        <h4>{{ past_incident.date }}</h4>
                                        {% if past_incident.incidents %}
                                            {% for incident in past_incident.incidents %}
                                                <div class="incident">
                                                    <div class="incident_subject">
                                                        <a href="{% url 'app.web.status_page_single' incident.uri %}" class="{{ incident.class }}">
                                                            <strong>{{ incident.subject }}</strong>
                                                        </a>
                                                    </div>
                                                    <div class="incident_body">
                                                        {{ incident.final_update }}<br/>
                                                        <small>{{ incident.period }}</small>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p>
                                                <span class="text-muted">{% trans "No incidents reported." %}</span>
                                            </p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 text-left">
                        <a href="{% url 'app.web.status_page_index' %}">
                            <span style="font-family:arial">←</span> {% trans "Current Status" %}
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-6 text-right">
                        <a href="https://github.com/silverbackhq/silverback" target="__blank">
                            <!-- Share some love by keeping copyrights -->
                            <span class="text-muted">{% trans "Powered by Silverback" %}</span>
                        </a>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}