{% extends 'layouts/base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="page-main">
        <div class="my-3 my-md-5">
            <div class="container" style="width: 50%;">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <a href="#">
                            <img src="{% static 'assets/images/logo.png' %}" alt="{{ app_name }}">
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-6 text-right" style="margin-top: 40px">
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#subscribeModal">Subscribe to Updates</a>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="alert alert-icon alert-success" role="alert" style="width: 100%;">
                            <i class="fe fe-check mr-2" aria-hidden="true"></i> All Systems Operational
                        </div>
                        <div class="alert alert-warning" role="alert" style="width: 100%;">
                            <i class="fe fe-bell mr-2" aria-hidden="true"></i> Some services are experiencing interruptions
                        </div>
                        <div class="alert alert-danger" role="alert" style="width: 100%;">
                            <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i>Many services are experiencing interruptions
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">


                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-6 text-left">
                        <a href="{% url 'app.web.status_page_index' %}">
                            <span style="font-family:arial">←</span> {% trans "Current Status" %}
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-6 text-right">
                        <a href="https://github.com/silverbackhq/silverback" target="__blank">
                            <span class="text-muted">{% trans "Powered by Silverback" %}</span>
                        </a>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Subscribe to Updates</h5>
                    <button type="button" class="close" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}