{% extends 'layouts/base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
	<div class="page-main">
	    <div class="my-3 my-md-5">
	        <div class="container" style="width: 50%;">
	            <div class="row">
	                <div class="col-sm-6 col-lg-6">
	                    <a href="#">
	                        <img src="{% static 'assets/images/logo.png' %}" alt="{{ app_name }}">
	                    </a>
	                </div>
	                <div class="col-sm-6 col-lg-6 text-right" style="margin-top: 40px">
	                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#subscribeModal">Subscribe to Updates</a>
	                </div>
	            </div>
	            <br/>
	            <br/>
	            <div class="row">
	                <div class="col-sm-12 col-lg-12">
	                    <div class="alert alert-icon alert-success" role="alert" style="width: 100%;">
	                        <i class="fe fe-check mr-2" aria-hidden="true"></i> All Systems Operational
	                    </div>
	                    <div class="alert alert-warning" role="alert" style="width: 100%;">
	                        <i class="fe fe-bell mr-2" aria-hidden="true"></i> Some services are experiencing interruptions
	                    </div>
	                    <div class="alert alert-danger" role="alert" style="width: 100%;">
	                        <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i>Many services are experiencing interruptions
	                    </div>
	                </div>
	            </div>
	            <br/>
	            <div class="row">
	                <div class="col-sm-12 col-lg-12">
	                    <div class="card">
	                        <div class="card-body">
	                            <h4>About This Site</h4>
	                            <br/> This is silverback's status page, where you can get updates on how our systems are doing. If there are interruptions to service, we will post a note here. As always, if you are experiencing any issues with silverback, don't hesitate to get in touch with us at team@silverbackhq.org and we'll get back to you as soon as we can.
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <br/>
	            <div class="row">
	                <div class="col-sm-12 col-lg-12">
	                    <div class="card">
	                        <table class="table card-table">
	                            <tr>
	                                <td><strong>Website - Frontend and User App (HTTPS)</strong>
	                                    <br/>
	                                    <div class="shared-partial uptime-90-days-wrapper">
	                                        <svg class="availability-time-line-graphic" id="uptime-component-0mw0pdgvs1l3" preserveAspectRatio="none" height="34" viewBox="0 0 448 34">
	                                            <rect height="34" width="3" x="0" y="0" fill="#00eb8b" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="<strong>29 Dec 2018</strong><br/>No downtime recorded on this day."></rect>
	                                            <rect height="34" width="3" x="5" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="10" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="15" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="20" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="25" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="30" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="35" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="40" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="45" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="50" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="55" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="60" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="65" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="70" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="75" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="80" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="85" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="90" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="95" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="100" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="105" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="110" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="115" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="120" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="125" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="130" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="135" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="140" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="145" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="150" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="155" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="160" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="165" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="170" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="175" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="180" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="185" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="190" y="0" fill="#ffad62" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="<strong>18 Jan 2019</strong><br/>Major outage for 28 mins."></rect>
	                                            <rect height="34" width="3" x="195" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="200" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="205" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="210" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="215" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="220" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="225" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="230" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="235" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="240" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="245" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="250" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="255" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="260" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="265" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="270" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="275" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="280" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="285" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="290" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="295" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="300" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="305" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="310" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="315" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="320" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="325" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="330" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="335" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="340" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="345" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="350" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="355" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="360" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="365" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="370" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="375" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="380" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="385" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="390" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="395" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="400" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="405" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="410" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="415" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="420" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="425" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="430" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="435" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="440" y="0" fill="#00eb8b"></rect>
	                                            <rect height="34" width="3" x="445" y="0" fill="#00eb8b"></rect>
	                                        </svg>
	                                    </div>
	                                </td>
	                                <td class="text-right align-top"><span class="text-muted"><span class="status-icon bg-success"  data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Operational"></span></span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td><a href="#" style="text-decoration: none;color:#495057;"><i class="fe fe-plus-square"></i> <strong>SMS & MMS REST API (HTTPS)</strong></a></td>
	                                <td class="text-right align-top"><span class="text-muted"><span class="status-icon bg-red"  data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Operational"></span></span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td><a href="#" style="text-decoration: none;color:#495057;"><i class="fe fe-minus-square"></i> <strong>SMS & MMS REST API (HTTPS)</strong></a>
	                                    <br/>
	                                    <table class="table card-table" style="background-color:white">
	                                        <tr>
	                                            <td><strong>Cloud API</strong> <i class="fe fe-help-circle" data-toggle="tooltip" title="Email and In app Messages"></i>
	                                                <br/>
	                                                <div class="shared-partial uptime-90-days-wrapper">
	                                                    <svg class="availability-time-line-graphic" id="uptime-component-0mw0pdgvs1l3" preserveAspectRatio="none" height="34" viewBox="0 0 448 34">
	                                                        <rect height="34" width="3" x="0" y="0" fill="#00eb8b" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="<strong>29 Dec 2018</strong><br/>No downtime recorded on this day."></rect>
	                                                        <rect height="34" width="3" x="5" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="10" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="15" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="20" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="25" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="30" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="35" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="40" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="45" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="50" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="55" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="60" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="65" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="70" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="75" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="80" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="85" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="90" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="95" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="100" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="105" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="110" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="115" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="120" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="125" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="130" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="135" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="140" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="145" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="150" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="155" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="160" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="165" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="170" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="175" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="180" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="185" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="190" y="0" fill="#ffad62" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="<strong>18 Jan 2019</strong><br/>Major outage for 28 mins."></rect>
	                                                        <rect height="34" width="3" x="195" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="200" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="205" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="210" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="215" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="220" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="225" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="230" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="235" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="240" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="245" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="250" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="255" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="260" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="265" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="270" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="275" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="280" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="285" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="290" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="295" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="300" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="305" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="310" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="315" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="320" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="325" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="330" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="335" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="340" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="345" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="350" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="355" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="360" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="365" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="370" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="375" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="380" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="385" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="390" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="395" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="400" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="405" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="410" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="415" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="420" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="425" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="430" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="435" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="440" y="0" fill="#00eb8b"></rect>
	                                                        <rect height="34" width="3" x="445" y="0" fill="#00eb8b"></rect>
	                                                    </svg>
	                                                </div>
	                                            </td>
	                                            <td class="text-right align-top"><span class="text-muted"><span class="status-icon bg-warning"  data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Operational"></span></span>
	                                            </td>
	                                        </tr>
	                                    </table>
	                                </td>
	                                <td class="text-right align-top"><span class="text-muted"><span class="status-icon bg-red"  data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Operational"></span></span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td><strong>Cloud API (HTTPS)</strong> <i class="fe fe-help-circle" data-toggle="tooltip" title="Email and In app Messages"></i></td>
	                                <td class="text-right align-top"><span class="text-muted"><span class="status-icon bg-warning"  data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Operational"></span></span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td><strong>Cloud API (HTTPS)</strong> <i class="fe fe-help-circle" data-toggle="tooltip" title="Email and In app Messages"></i></td>
	                                <td class="text-right align-top"><span class="text-muted"><span class="status-icon bg-success"  data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Operational"></span></span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td><strong>SMPP Server 01</strong></td>
	                                <td class="text-right align-top"><span class="text-muted"><span class="status-icon bg-success"  data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Operational"></span></span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td><strong>SMPP Server 02</strong></td>
	                                <td class="text-right align-top"><span class="text-muted"><span class="status-icon bg-success"  data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Operational"></span></span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td><strong>SMPP Server 03</strong></td>
	                                <td class="text-right align-top"><span class="text-muted"><span class="status-icon bg-success"  data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Operational"></span></span>
	                                </td>
	                            </tr>
	                        </table>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-12 col-lg-12">
	                    <div class="card">
	                        <div class="card-header">
	                            <h3 class="card-title">System Metrics</h3>
	                            <div class="card-options">
	                                <a href="#" class="btn btn-secondary btn-sm ml-2">Day</a>
	                                <a href="#" class="btn btn-secondary btn-sm ml-2">Week</a>
	                                <a href="#" class="btn btn-secondary btn-sm ml-2">Month</a>
	                            </div>
	                        </div>

	                        <div class="card-body">
	                            <div id="container" style="height: 16rem"></div>
	                        </div>
	                    </div>
	                    <script>
	                        Highcharts.chart('container', {
	                            chart: {
	                                type: 'spline'
	                            },
	                            title: {
	                                text: 'Website Dashboard - Average response time'
	                            },
	                            xAxis: {
	                                type: 'datetime',
	                                dateTimeLabelFormats: { // don't display the dummy year
	                                    month: '%e. %b',
	                                    year: '%b'
	                                },
	                                title: {
	                                    text: 'Date'
	                                }
	                            },
	                            yAxis: {
	                                title: {
	                                    text: 'Time (m)'
	                                },
	                                min: 0
	                            },
	                            plotOptions: {
	                                spline: {
	                                    marker: {
	                                        enabled: true
	                                    }
	                                }
	                            },
	                            series: [{
	                                name: 'Date',
	                                data: [
	                                    [Date.UTC(2019, 3, 10, 1, 1), 0.25],
	                                    [Date.UTC(2019, 3, 10, 1, 2), 0.26],
	                                    [Date.UTC(2019, 3, 10, 1, 3), 0.27],
	                                    [Date.UTC(2019, 3, 10, 1, 4), 0.28],
	                                    [Date.UTC(2019, 3, 10, 1, 5), 0.29],
	                                    [Date.UTC(2019, 3, 10, 1, 6), 0.20],
	                                    [Date.UTC(2019, 3, 10, 1, 7), 0.30],
	                                    [Date.UTC(2019, 3, 10, 1, 8), 0.25],
	                                    [Date.UTC(2019, 3, 10, 1, 9), 0.25],
	                                    [Date.UTC(2019, 3, 10, 1, 10), 1],
	                                    [Date.UTC(2019, 3, 10, 1, 11), 1.2],
	                                    [Date.UTC(2019, 3, 10, 1, 12), 1.02],
	                                    [Date.UTC(2019, 3, 10, 1, 13), 1.3],
	                                    [Date.UTC(2019, 3, 10, 1, 14), 1],
	                                    [Date.UTC(2019, 3, 10, 1, 15), 1.09],
	                                    [Date.UTC(2019, 3, 10, 1, 16), 1.08],
	                                    [Date.UTC(2019, 3, 10, 1, 17), 1.5],
	                                    [Date.UTC(2019, 3, 10, 1, 18), 1.08],
	                                    [Date.UTC(2019, 3, 10, 1, 19), 1.05],
	                                    [Date.UTC(2019, 3, 10, 1, 20), 0.8],
	                                    [Date.UTC(2019, 3, 10, 1, 21), 0.40],
	                                    [Date.UTC(2019, 3, 10, 1, 22), 0.50],
	                                    [Date.UTC(2019, 3, 10, 1, 23), 0.77],
	                                    [Date.UTC(2019, 3, 10, 1, 24), 0.9],
	                                    [Date.UTC(2019, 3, 10, 1, 25), 0.44],
	                                    [Date.UTC(2019, 3, 10, 1, 26), 0.34],
	                                    [Date.UTC(2019, 3, 10, 1, 27), 0.23],
	                                    [Date.UTC(2019, 3, 10, 1, 28), 0.45],
	                                    [Date.UTC(2019, 3, 10, 1, 29), 0.33],
	                                    [Date.UTC(2019, 3, 10, 1, 30), 0.22],
	                                    [Date.UTC(2019, 3, 10, 1, 31), 0.98],
	                                    [Date.UTC(2019, 3, 10, 1, 32), 0.8],
	                                    [Date.UTC(2019, 3, 10, 1, 33), 0.53],
	                                    [Date.UTC(2019, 3, 10, 1, 34), 0.34],
	                                    [Date.UTC(2019, 3, 10, 1, 35), 0.32],
	                                    [Date.UTC(2019, 3, 10, 1, 36), 0.344],
	                                ]
	                            }],
	                            responsive: {
	                                rules: [{
	                                    condition: {
	                                        maxWidth: 500
	                                    }
	                                }]
	                            }
	                        });
	                    </script>
	                </div>
	            </div>
	            <br/>
	            <div class="row">
	                <div class="col-sm-12 col-lg-12">
	                    <div class="card">
	                        <div class="card-header">
	                            <h3 class="card-title">Past Incidents</h3>
	                        </div>
	                        <div class="card-body">
	                            <div class="incidents">
	                                <h4>March 8, 2019</h4>
	                                <p>
	                                    <span class="text-muted">No incidents reported.</span>
	                                </p>
	                            </div>
	                            <div class="incidents">
	                                <h4>March 7, 2019</h4>
	                                <div class="incident">
	                                    <div class="incident_subject">
	                                        <a href="#" class="text-danger">
	                                            <strong>Partial network outage at one of our network suppliers</strong>
	                                        </a>
	                                    </div>
	                                    <div class="incident_body">
	                                        <strong>Resolved</strong> - we had a partial network outage at one of our network suppliers. During this time we were unable to send and receive SMS to and from a small set of carriers. During this outage, SMS was either delayed or sent via an alternative route.
	                                        <br/>
	                                        <small>March 7, 08:56 CET</small>
	                                    </div>
	                                    <div class="incident_body">
	                                        <strong>Update</strong> - we had a partial network outage at one of our network suppliers. During this time we were unable to send and receive SMS to and from a small set of carriers. During this outage, SMS was either delayed or sent via an alternative route.
	                                        <br/>
	                                        <small>March 7, 08:56 CET</small>
	                                    </div>
	                                </div>
	                                <div class="incident">
	                                    <div class="incident_subject">
	                                        <a href="#" class="text-danger">
	                                            <strong>Partial network outage at one of our network suppliers</strong>
	                                        </a>
	                                    </div>
	                                    <div class="incident_body">
	                                        <strong>Resolved</strong> - we had a partial network outage at one of our network suppliers. During this time we were unable to send and receive SMS to and from a small set of carriers. During this outage, SMS was either delayed or sent via an alternative route.
	                                        <br/>
	                                        <small>March 7, 08:56 CET</small>
	                                    </div>
	                                    <div class="incident_body">
	                                        <strong>Update</strong> - we had a partial network outage at one of our network suppliers. During this time we were unable to send and receive SMS to and from a small set of carriers. During this outage, SMS was either delayed or sent via an alternative route.
	                                        <br/>
	                                        <small>March 7, 08:56 CET</small>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="incidents">
	                                <h4>March 6, 2019</h4>
	                                <p>
	                                    <span class="text-muted">No incidents reported.</span>
	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-12 col-lg-12">
	                    <div class="card">
	                        <div class="card-header">
	                            <h3 class="card-title">Incident History</h3>
	                            <div class="card-options">
	                                <a href="#" class="btn btn-secondary btn-sm ml-2"><i class="fe fe-arrow-left"></i></a>
	                                <button href="#" disabled class="btn btn-secondary btn-sm ml-2">May 2019 - July 2019</button>
	                                <a href="#" class="btn btn-secondary btn-sm ml-2"><i class="fe fe-arrow-right"></i></a>
	                            </div>
	                        </div>
	                        <div class="card-body">
	                            <div class="incidents">
	                                <h4>March 2019</h4>
	                                <p>
	                                    <span class="text-muted">No incidents reported for this month.</span>
	                                </p>
	                            </div>
	                            <div class="incidents">
	                                <h4>February, 2019</h4>
	                                <div class="incident">
	                                    <div class="incident_subject">
	                                        <a href="#" class="text-warning">
	                                            <strong>Partial network outage at one of our network suppliers</strong>
	                                        </a>
	                                    </div>
	                                    <div class="incident_body">
	                                        This incident has been resolved.
	                                        <br/>
	                                        <small>March 7, 08:56 CET - March 8, 2:56 CET</small>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="incidents">
	                                <h4>March 6, 2019</h4>
	                                <p>
	                                    <span class="text-muted">No incidents reported.</span>
	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-6 col-lg-6 text-left">
	                    <a href="#">
	                        <span style="font-family:arial">←</span> {% trans "Incident History" %}
	                    </a>
	                </div>
	                <div class="col-sm-6 col-lg-6 text-right">
	                    <a href="https://github.com/silverbackhq/silverback" target="__blank">
	                        <span class="text-muted">{% trans "Powered by Silverback" %}</span>
	                    </a>
	                </div>
	            </div>
	            <br/>
	        </div>
	    </div>
	</div>
	<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="exampleModalLabel">Subscribe to Updates</h5>
	                <button type="button" class="close" data-dismiss="modal"></button>
	            </div>
	            <div class="modal-body">


	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	                <button type="button" class="btn btn-primary">Submit</button>
	            </div>
	        </div>
	    </div>
	</div>
{% endblock %}